@charset "utf-8";
/* CSS Document */

.operation-btns {
	display: inline-block;
	float: right;
	margin-top: 0.5em;
	margin-right: 2em;
}

.operation {
	visibility:hidden;
}

.table{
	font-size: 11px;
}

.inventory-table, .inventory-search-table{
	margin-top: 2em;
}

.inventory-search-table{
	visibility:hidden;
}

.navbar li a, .navbar .navbar-brand {
    color: #2c95dd !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #2c95dd !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

#submit-import-btn{
	color: #004b6b;
	margin-top: 2em;
	margin-left: 10em;
}