{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
  
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Inventory Management</a>
    </div>
    
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{url_for('home')}}">Home</a></li>
      <li><a href="{{url_for('inventory')}}">Inventories</a></li>
      <li><a href="#">Users</a></li>
      <li><a href="#">My Items</a></li>
      <li class="dropdown">
      	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Messages<span class="caret"></span>
      	</a>
      	<ul class="dropdown-menu">
          	<li><a href="#">Borrow request</a></li>        
	        <li><a href="#">Transfer request</a></li>	        
	        <li><a href="#">Return request</a></li>
	        <li><a href="#">My borrows</a></li>
	        <li><a href="#">My transfers</a></li>
	        <li><a href="#">My returns</a></li>        
        </ul>
      </li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" id="username"><span class="glyphicon glyphicon-user"></span> {{name}}</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
    
  </div>
</nav>
<div>
	{% if task == 'inventory' %}
		{% block showcontent %}{% endblock %}
	{% endif %}
	
</div>

{% endblock %}